Repository apache/geode, pull requests merged in 2020-10, with the labels that each got.

#5569 GEODE-8555: SimpleDiskRegionJunitTest fails on Windows
  geode-core/src/integrationTest/java/org/apache/geode/internal/cache/SimpleDiskRegionJUnitTest.java
  geode-junit/src/main/java/org/apache/geode/internal/cache/DiskRegionTestingBase.java
Labels: windows

#5593 GEODE-8577: PubSubNativeRedisAcceptanceTest is flaky
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/pubsub/PubSubNativeRedisAcceptanceTest.java
Labels: redis

#5597 GEODE-8577: Fix flaky PubSubNativeRedisAcceptanceTest
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/pubsub/PubSubNativeRedisAcceptanceTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractPubSubIntegrationTest.java
Labels: redis

#5552 GEODE-8538: Create test to validate ordering of redis pipeline commands
  geode-redis/src/integrationTest/java/org/apache/geode/redis/AbstractCommandPipeliningIntegrationTest.java
Labels: redis

#5591 GEODE-8525: Ensure that all pubsub related commands run on the correct EventLoopGroup
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractPubSubIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/PingExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/QuitExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/PsubscribeExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/PunsubscribeExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/SubscribeExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/UnsubscribeExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
Labels: redis

#5608 GEODE-8587: Redis glob pattern does not match carriage return, line feed, and tab
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractKeysIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/GlobPattern.java
Labels: redis

#5589 GEODE-8536: Allow limited retries when creating Lucene IndexWriter
  geode-lucene/src/distributedTest/java/org/apache/geode/cache/lucene/internal/IndexRepositoryFactoryDistributedTest.java
  geode-lucene/src/integrationTest/java/org/apache/geode/cache/lucene/internal/IndexRepositoryFactoryIntegrationTest.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/IndexRepositoryFactory.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/IndexRepositoryFactoryTest.java
Labels: windows

#5628 GEODE-8612: Remove unused Redis constants
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/ExpireAtExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/ExpireExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/PExpireAtExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/PExpireExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/PTTLExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/TTLExecutor.java
Labels: redis

#5634 GEODE-8621: Redis SPOP can return incorrect string type
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSPopIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SPopExecutor.java
Labels: redis

#5582 GEODE-7864: Fix potential resource leak LGTM warnings
  extensions/geode-modules-session/src/main/java/org/apache/geode/modules/session/installer/JarClassLoader.java
  geode-core/src/main/java/org/apache/geode/admin/jmx/internal/GenerateMBeanHTML.java
  geode-core/src/main/java/org/apache/geode/cache/client/internal/AbstractOp.java
  geode-core/src/main/java/org/apache/geode/cache/client/internal/AuthenticateUserOp.java
  geode-core/src/main/java/org/apache/geode/cache/client/internal/PutOp.java
  geode-core/src/main/java/org/apache/geode/cache/wan/EventSequenceID.java
  geode-core/src/main/java/org/apache/geode/distributed/AbstractLauncher.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/deadlock/DeadlockDetector.java
  geode-core/src/main/java/org/apache/geode/internal/DeployedJar.java
  geode-core/src/main/java/org/apache/geode/internal/InternalDataSerializer.java
  geode-core/src/main/java/org/apache/geode/internal/cache/BucketRegion.java
  geode-core/src/main/java/org/apache/geode/internal/cache/DiskInitFile.java
  geode-core/src/main/java/org/apache/geode/internal/cache/EntryEventImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/EventID.java
  geode-core/src/main/java/org/apache/geode/internal/cache/FilterRoutingInfo.java
  geode-core/src/main/java/org/apache/geode/internal/cache/LocalRegion.java
  geode-core/src/main/java/org/apache/geode/internal/cache/Oplog.java
  geode-core/src/main/java/org/apache/geode/internal/cache/ValueComparisonHelper.java
  geode-core/src/main/java/org/apache/geode/internal/cache/ha/ThreadIdentifier.java
  geode-core/src/main/java/org/apache/geode/internal/cache/partitioned/FetchBulkEntriesMessage.java
  geode-core/src/main/java/org/apache/geode/internal/cache/partitioned/FetchEntriesMessage.java
  geode-core/src/main/java/org/apache/geode/internal/cache/partitioned/FetchKeysMessage.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/AcceptorImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/AuthIds.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/CacheClientUpdater.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/ClientProxyMembershipID.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/ClientUpdateMessageImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/MessageDispatcher.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/ServerConnection.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/command/Put65.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tx/RemoteFetchKeysMessage.java
  geode-core/src/main/java/org/apache/geode/internal/logging/LogFileParser.java
  geode-core/src/main/java/org/apache/geode/internal/logging/MergeLogFiles.java
  geode-core/src/main/java/org/apache/geode/internal/logging/SortLogFile.java
  geode-core/src/main/java/org/apache/geode/internal/net/SocketCreator.java
  geode-core/src/main/java/org/apache/geode/internal/sequencelog/io/GemfireLogConverter.java
  geode-core/src/main/java/org/apache/geode/internal/sequencelog/io/GraphReader.java
  geode-core/src/main/java/org/apache/geode/internal/sequencelog/visualization/text/TextDisplay.java
  geode-core/src/main/java/org/apache/geode/internal/statistics/platform/LinuxProcFsStatistics.java
  geode-core/src/main/java/org/apache/geode/internal/tcp/Connection.java
  geode-core/src/main/java/org/apache/geode/internal/util/BlobHelper.java
  geode-core/src/main/java/org/apache/geode/internal/util/PluckStacks.java
  geode-core/src/main/java/org/apache/geode/pdx/internal/PdxString.java
  geode-experimental-driver/src/main/java/org/apache/geode/experimental/driver/SocketFactory.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/CompactOfflineDiskStoreCommand.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/DeployCommand.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/ShCommand.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/UpgradeOfflineDiskStoreCommand.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/ValidateDiskStoreCommand.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/functions/NetstatFunction.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/shell/JmxOperationInvoker.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/util/MergeLogs.java
  geode-junit/src/main/java/org/apache/geode/codeAnalysis/CompiledClassUtils.java
  geode-junit/src/main/java/org/apache/geode/pdx/NonDelegatingLoader.java
  geode-logging/src/main/java/org/apache/geode/logging/internal/OSProcess.java
  geode-membership/src/main/java/org/apache/geode/distributed/internal/membership/gms/fd/GMSHealthMonitor.java
  geode-membership/src/main/java/org/apache/geode/distributed/internal/membership/gms/messenger/JGroupsMessenger.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/NettyRedisServer.java
  geode-tcp-server/src/main/java/org/apache/geode/distributed/internal/tcpserver/TcpClient.java
  geode-tcp-server/src/main/java/org/apache/geode/distributed/internal/tcpserver/TcpServer.java
Labels: windows

#5639 GEODE-8627: Redis not unsubscribing and punsubscribing correctly when no channel/pattern provided
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractPubSubIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractSubscriptionsIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/mocks/DummySubscription.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/PingExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/PunsubscribeExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/UnsubscribeExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/pubsub/ChannelSubscription.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/pubsub/PatternSubscription.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/pubsub/PubSub.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/pubsub/PubSubImpl.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/pubsub/Subscription.java
  geode-redis/src/main/resources/org/apache/geode/redis/internal/sanctioned-geode-redis-serializables.txt
Labels: redis

#5640 GEODE-8629: Redis TTL should round up the returned value
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractTTLIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/TTLExecutor.java
Labels: redis

#5636 GEODE-8622: Redis INCRBYFLOAT error messages are consistent with native Redis
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrByFloatIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/string/IncrByFloatExecutor.java
Labels: redis

#5646 GEODE-8632: Redis Unknown command error message should have trailing space
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/AbstractUnknownIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/UnknownExecutor.java
Labels: redis

#5647 GEODE-8633: Add concurrency tests for Redis HDEL
  geode-redis/src/commonTest/java/org/apache/geode/redis/ConcurrentLoopingThreads.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HdelDUnitTest.java
Labels: redis

#5652 GEODE-8496: top off dependency updates for 1.14
  boms/geode-all-bom/src/test/resources/expected-pom.xml
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/apache/geode/gradle/plugins/DependencyConstraints.groovy
  geode-assembly/geode-assembly-test/src/main/java/org/apache/geode/session/tests/TomcatInstall.java
  geode-assembly/src/distributedTest/java/org/apache/geode/session/tests/GenericAppServerInstall.java
  geode-assembly/src/integrationTest/resources/assembly_content.txt
  geode-assembly/src/integrationTest/resources/dependency_classpath.txt
  geode-connectors/build.gradle
  geode-connectors/src/distributedTest/java/org/apache/geode/connectors/jdbc/internal/cli/CreateDataSourceCommandDUnitTest.java
  geode-connectors/src/distributedTest/java/org/apache/geode/connectors/jdbc/internal/cli/DeregisterDriverCommandDUnitTest.java
  geode-connectors/src/distributedTest/java/org/apache/geode/connectors/jdbc/internal/cli/ListDriversCommandDUnitTest.java
  geode-connectors/src/distributedTest/java/org/apache/geode/connectors/jdbc/internal/cli/RegisterDriverCommandDUnitTest.java
Labels: windows

#5650 GEODE-8638: Match the way Redis 5.x handles HELLO
  geode-redis/README.md
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/AbstractUnknownIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5668 GEODE-8654: Remove debug logging from AbstractPubSubIntegrationTest
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractPubSubIntegrationTest.java
Labels: redis

#5673 GEODE-8657: Increase acceptance test timeout
  ci/pipelines/shared/jinja.variables.yml
Labels: ci

#5674 GEODE-8603: Potentially expand classes identified for CI stressing to include subclasses (#5601)
  build.gradle
  ci/pipelines/shared/jinja.variables.yml
  ci/scripts/repeat-new-tests.sh
  geode-junit/build.gradle
  geode-junit/src/main/java/org/apache/geode/test/util/StressNewTestHelper.java
  geode-junit/src/test/java/org/apache/geode/test/util/WhatExtendsJUnitTest.java
  geode-junit/src/test/resources/expected-pom.xml
Labels: windows

#5649 GEODE-8637: Give each test worker a unique working dir
  buildSrc/src/main/java/org/apache/geode/gradle/RunInSubdirectoryTestFramework.java
  extensions/geode-modules-test/src/main/java/org/apache/geode/modules/session/AbstractSessionsTest.java
  gradle/test.gradle
Labels: windows

#5625 GEODE-8609: Create a dunit suspect file per VM
  geode-core/src/distributedTest/java/org/apache/geode/cache30/ReconnectDUnitTest.java
  geode-core/src/distributedTest/java/org/apache/geode/distributed/internal/ClusterDistributionManagerDUnitTest.java
  geode-core/src/distributedTest/java/org/apache/geode/internal/cache/tier/sockets/RedundancyLevelTestBase.java
  geode-core/src/distributedTest/java/org/apache/geode/management/internal/security/MultiGfshDUnitTest.java
  geode-dunit/src/main/java/org/apache/geode/internal/cache/tier/sockets/ClientServerMiscDUnitTestBase.java
  geode-dunit/src/main/java/org/apache/geode/management/internal/cli/commands/QueryCommandDUnitTestBase.java
  geode-dunit/src/main/java/org/apache/geode/test/dunit/IgnoredException.java
  geode-dunit/src/main/java/org/apache/geode/test/dunit/internal/DUnitLauncher.java
  geode-dunit/src/main/java/org/apache/geode/test/dunit/internal/StandAloneDUnitEnv.java
  geode-dunit/src/main/java/org/apache/geode/test/greplogs/LogConsumer.java
  geode-dunit/src/test/java/org/apache/geode/test/greplogs/LogConsumerTest.java
  geode-web/src/distributedTest/java/org/apache/geode/management/internal/cli/commands/AlterRuntimeCommandDistributedTest.java
Labels: windows

#5654 GEODE-8662: add integration tests for strlen
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractDecrByIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractStrLenIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/string/DecrByExecutor.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisStringTest.java
Labels: redis
