Repository apache/geode, pull requests merged in 2020-11, with the labels that each got.

#5682 GEODE-8668: Implement Redis SELECT command
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/connection/SelectNativeRedisAcceptanceTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AbstractSelectIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/SelectIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/SelectExecutor.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5696 Geode-8677: Confirm binary data storage
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractKeysIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractAppendIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractGetRangeIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractLettuceAppendIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractStrLenIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/LettuceAppendIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
Labels: redis

#5721 GEODE-8691: Add test to cover native Redis hits and misses statistics
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/server/HitsMissesNativeRedisAcceptanceTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
Labels: redis

#5753 GEODE-8715: Redis INFO command 'Keyspace' section should not be present if no keys in database
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractInfoIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/server/InfoExecutor.java
Labels: redis

#5732 GEODE-8694: use redis tests with patch
  ci/scripts/execute_redis_tests.sh
  geode-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
Labels: ci, redis

#5767 GEODE-8717: INFO command returns specified sections
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractInfoIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/server/InfoExecutor.java
Labels: redis

#5772 GEODE-8496: top up dependency updates
  boms/geode-all-bom/src/test/resources/expected-pom.xml
  buildSrc/src/main/groovy/org/apache/geode/gradle/plugins/DependencyConstraints.groovy
  geode-assembly/geode-assembly-test/src/main/java/org/apache/geode/session/tests/TomcatInstall.java
  geode-assembly/src/distributedTest/java/org/apache/geode/session/tests/GenericAppServerInstall.java
  geode-assembly/src/integrationTest/resources/assembly_content.txt
  geode-assembly/src/integrationTest/resources/dependency_classpath.txt
  geode-assembly/src/integrationTest/resources/expected_jars.txt
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/remote/OnlineCommandProcessor.java
  geode-rebalancer/src/main/java/org/apache/geode/cache/util/AutoBalancer.java
  geode-wan/build.gradle
  geode-web-api/src/main/java/org/apache/geode/rest/internal/web/controllers/support/RestServersResultCollector.java
  geode-web/src/main/java/org/apache/geode/management/internal/web/controllers/support/LoginHandlerInterceptor.java
Labels: windows
