Repository apache/geode, pull requests merged in 2021-01, with the labels that each got.

#5883 GEODE-8496: Bump dependencies once more
  boms/geode-all-bom/src/test/resources/expected-pom.xml
  build.gradle
  buildSrc/src/main/groovy/org/apache/geode/gradle/plugins/DependencyConstraints.groovy
  dev-tools/dependencies/bump.sh
Labels: windows

#5876 GEODE-8803:increase offset of flakey test
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/RedisStatsIntegrationTest.java
Labels: redis

#5886 GEODE-8821: Add tests to validate Geode redis stats
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/RedisStatsIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/statistics/RedisStats.java
Labels: redis

#5880 GEODE-8782: Add getPrincipal method to FunctionContext interface (#5840)
  geode-core/src/distributedTest/java/org/apache/geode/internal/cache/execute/FunctionExecutionWithPrincipalDUnitTest.java
  geode-core/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-core/src/main/java/org/apache/geode/cache/execute/FunctionContext.java
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegion.java
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegionDataStore.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/FunctionContextImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/FunctionRemoteContext.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/RegionFunctionContextImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/partitioned/PartitionedRegionFunctionStreamingMessage.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/CommandInitializer.java
  geode-core/src/main/java/org/apache/geode/internal/security/IntegratedSecurityService.java
  geode-core/src/main/java/org/apache/geode/internal/security/LegacySecurityService.java
  geode-core/src/main/java/org/apache/geode/internal/security/SecurityService.java
  geode-dunit/src/main/java/org/apache/geode/test/junit/rules/ClientCacheRule.java
  geode-junit/src/main/java/org/apache/geode/management/internal/security/TestFunctions.java
  geode-serialization/src/main/java/org/apache/geode/internal/serialization/Version.java
  geode-wan/src/upgradeTest/java/org/apache/geode/cache/wan/WANRollingUpgradeCreateGatewaySenderMixedSiteOneCurrentSiteTwo.java
Labels: backport

#5874 GEODE-8577: Increase time to get Redis native connection
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/pubsub/PubSubNativeRedisAcceptanceTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractPubSubIntegrationTest.java
Labels: redis

#5897 GEODE-8782: Add getPrincipal method to FunctionContext interface
  geode-core/src/distributedTest/java/org/apache/geode/internal/cache/execute/FunctionExecutionWithPrincipalDUnitTest.java
  geode-core/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-core/src/main/java/org/apache/geode/cache/execute/FunctionContext.java
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegion.java
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegionDataStore.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/FunctionContextImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/FunctionRemoteContext.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/RegionFunctionContextImpl.java
  geode-core/src/main/java/org/apache/geode/internal/cache/partitioned/PartitionedRegionFunctionStreamingMessage.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/CommandInitializer.java
  geode-core/src/main/java/org/apache/geode/internal/security/IntegratedSecurityService.java
  geode-core/src/main/java/org/apache/geode/internal/security/LegacySecurityService.java
  geode-core/src/main/java/org/apache/geode/internal/security/SecurityService.java
  geode-dunit/src/main/java/org/apache/geode/test/junit/rules/ClientCacheRule.java
  geode-junit/src/main/java/org/apache/geode/management/internal/security/TestFunctions.java
  geode-lucene/src/upgradeTest/java/org/apache/geode/cache/lucene/LuceneSearchWithRollingUpgradeTestBase.java
  geode-serialization/src/main/java/org/apache/geode/internal/serialization/Version.java
  geode-wan/src/upgradeTest/java/org/apache/geode/cache/wan/WANRollingUpgradeCreateGatewaySenderMixedSiteOneCurrentSiteTwo.java
  geode-wan/src/upgradeTest/java/org/apache/geode/cache/wan/WANRollingUpgradeDUnitTest.java
  settings.gradle
Labels: backport

#5887 GEODE-8795: Lucene queries should utilize post-processing if enabled (#5858)
  geode-lucene/geode-lucene-test/src/main/java/org/apache/geode/cache/lucene/test/TestPdxObject.java
  geode-lucene/src/distributedTest/java/org/apache/geode/cache/lucene/LuceneClientSecurityPostProcessingDUnitTest.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/results/LuceneGetPageFunction.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/results/LuceneGetPageFunctionJUnitTest.java
Labels: backport

#5911 GEODE-8795: Lucene queries should utilize post-processing if enabled
  geode-lucene/geode-lucene-test/src/main/java/org/apache/geode/cache/lucene/test/TestPdxObject.java
  geode-lucene/src/distributedTest/java/org/apache/geode/cache/lucene/LuceneClientSecurityPostProcessingDUnitTest.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/results/LuceneGetPageFunction.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/results/LuceneGetPageFunctionJUnitTest.java
Labels: backport

#5931 GEODE-8852: Add additional tests for Redis HVALS command
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HvalsDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHashesIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5940 GEODE-8858: unit/integration tests for HSETNX
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHashesIntegrationTest.java
Labels: redis

#5945 GEODE-8865: Create additional dunit and integration tests for Redis HMGET
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HMgetDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHashesIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5939 Geode-8853: DUNIT tests for HSTRLEN command
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HstrlenDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHashesIntegrationTest.java
Labels: redis

#5942 GEODE-8863: test HSETNX concurrency
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HSetNXDunitTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5949 GEODE-8857: Redis SMOVE command should not do type checking in the executor
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSMoveIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisKeyCommandsFunctionExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/RedisKeyCommands.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/RedisKeyCommandsFunctionInvoker.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SMoveExecutor.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5955 GEODE-8867: Add tests for HLEN
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HlenDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHashesIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#5965 GEODE-8879: add error messages for internal commands
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/AbstractUnknownIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
Labels: redis
