Repository apache/geode, pull requests merged in 2021-05, with the labels that each got.

#6425 GEODE-9138: Ignore failing test
  geode-core/src/integrationTest/java/org/apache/geode/internal/cache/event/DistributedEventTrackerIntegrationTest.java
Labels: windows

#6428 GEODE-9138: Refactored and added tests
  geode-core/src/integrationTest/java/org/apache/geode/internal/cache/event/DistributedEventTrackerIntegrationTest.java
  geode-core/src/main/java/org/apache/geode/internal/cache/BucketRegion.java
  geode-core/src/main/java/org/apache/geode/internal/cache/event/DistributedEventTracker.java
Labels: windows

#6367 GEODE-9162: Mark Radish as experimental
  buildSrc/src/main/resources/japicmp_exceptions.json
  geode-core/src/main/java/org/apache/geode/distributed/ConfigurationProperties.java
  geode-core/src/main/java/org/apache/geode/management/internal/i18n/CliStrings.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/StartServerCommand.java
Labels: redis

#6419 GEODE-9155: Change frequency of passive expiration
  geode-apis-compatible-with-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/GeodeServerRunTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
Labels: redis

#6429 GEODE-9220: Switch set DUnit tests to use JedisCluster
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/set/SaddDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/set/SremDUnitTest.java
Labels: redis

#6405 GEODE-9217: Adding memory overhead tests for redis
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/hash/MemoryOverheadNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractMemoryOverheadIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/MemoryOverheadIntegrationTest.java
  geode-core/src/main/java/org/apache/geode/internal/size/ObjectGraphSizer.java
  gradle/test.gradle
Labels: redis

#6433 GEODE-9162: Mark Radish as experimental (#6367)
  buildSrc/src/main/resources/japicmp_exceptions.json
  geode-core/src/main/java/org/apache/geode/distributed/ConfigurationProperties.java
  geode-core/src/main/java/org/apache/geode/management/internal/i18n/CliStrings.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/StartServerCommand.java
Labels: backport, redis

#6431 GEODE-9238: Switch hash DUnit tests to use JedisCluster/RedisClusterClient
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HExistsDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HGetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HKeysDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HMgetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HMsetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HScanDunitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HSetNXDunitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HashesAndCrashesDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HlenDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HsetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HstrlenDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HvalsDUnitTest.java
Labels: redis

#6438 GEODE-9239: Restructure Key-related DUnit tests to handle cluster mode
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/ExistsDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/ExpireDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/PersistDUnitTest.java
Labels: redis

#6423 GEODE-9227: Performance improvements in the loading of CommandMarkers…
  geode-connectors/src/main/resources/META-INF/services/org.springframework.shell.core.Converter
  geode-core/src/main/java/org/apache/geode/management/internal/util/ClasspathScanLoadHelper.java
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/CommandManager.java
  geode-gfsh/src/main/resources/META-INF/services/org.springframework.shell.core.CommandMarker
  geode-gfsh/src/main/resources/META-INF/services/org.springframework.shell.core.Converter
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneCommandBase.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneCreateIndexCommand.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneDescribeIndexCommand.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneDestroyIndexCommand.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneListIndexCommand.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneSearchIndexCommand.java
  geode-lucene/src/main/resources/META-INF/services/org.springframework.shell.core.CommandMarker
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/cli/commands/LuceneIndexCommandsJUnitTest.java
Labels: windows

#6442 Revert "GEODE-9239: Update PersistDUnitTest to use JedisCluster (#6438)"
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/ExistsDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/ExpireDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/PersistDUnitTest.java
Labels: redis

#6413 GEODE-9199: Restructure String Dunit tests to work with compatible with Redis cluster mode
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/string/StringsDUnitTest.java
Labels: redis

#6449 GEODE-9220: Switch Redis set tests to use JedisCluster
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SDiffNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SInterNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SIsMemberNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SMoveNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SPopNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SRemNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SScanNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SUnionNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/set/SetsNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSDiffIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSInterIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSIsMemberIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSMoveIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSPopIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSRemIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSScanIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSUnionIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSetsIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/SScanIntegrationTest.java
Labels: redis

#6296 GEODE-9136: make RedisData implement Sizeable
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/data/PartitionedRegionStatsUpdateTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/MemoryOverheadIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractAppendIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisService.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisData.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHash.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisSetTest.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisStringTest.java
Labels: redis

#6458 GEODE-9239: Restructure Key-related DUnit tests to handle cluster mode
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/ExistsDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/ExpireDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/PersistDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/key/RenameDUnitTest.java
Labels: redis

#6434 GEODE-9223: Removing ByteArrayWrapper from hashes
  geode-apis-compatible-with-redis/build.gradle
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/session/SessionExpirationDUnitTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/MemoryOverheadIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisHash.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHash.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHashCommandsFunctionExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/delta/AddsDeltaInfo.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/delta/RemsDeltaInfo.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/RedisResponse.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HDelExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HExistsExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HGetAllExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HGetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HIncrByExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HIncrByFloatExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HKeysExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HLenExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HMGetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HMSetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HScanExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HSetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HStrLenExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HValsExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HashExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/RedisHashCommands.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/RedisHashCommandsFunctionInvoker.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/ByteToCommandDecoder.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
  geode-apis-compatible-with-redis/src/test/resources/expected-pom.xml
Labels: redis

#6451 GEODE-9097: Resolving package split for geode-management
  buildSrc/src/main/resources/japicmp_exceptions.json
  geode-assembly/src/acceptanceTest/resources/ManagementClientCreateRegion.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/JQFilterVerificationDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/client/ClusterManagementServiceBuilderDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/client/CreateRegionWithDiskstoreAndSecurityDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ClientClusterManagementSSLTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ClientClusterManagementServiceDunitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/DeployToMultiGroupDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/DeploymentManagementDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/DeploymentManagementRedployDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/DeploymentSemanticVersionJarDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/GatewayReceiverManagementDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ListIndexManagementDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ListIndexOnPartitionRegionTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ListRegionManagementDunitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ManagementRequestLoggingDistributedTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/MemberManagementServiceDunitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/RebalanceManagementDunitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/RegionManagementDunitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/RestoreRedundancyManagementDUnitTest.java
  geode-assembly/src/distributedTest/java/org/apache/geode/management/internal/rest/ServerRestartTest.java
  geode-assembly/src/integrationTest/java/org/apache/geode/management/internal/rest/controllers/ClusterManagementRestLoggingTest.java
  geode-assembly/src/integrationTest/java/org/apache/geode/rest/internal/web/ManagementRestAuthTokenIntegrationTest.java
  geode-assembly/src/integrationTest/resources/assembly_content.txt
  geode-assembly/src/upgradeTest/java/org/apache/geode/management/DeploymentManagementUpgradeTest.java
  geode-assembly/src/upgradeTest/java/org/apache/geode/management/OperationManagementUpgradeTest.java
  geode-core/src/main/java/org/apache/geode/internal/config/VersionAdapter.java
  geode-core/src/main/java/org/apache/geode/management/builder/GeodeClusterManagementServiceBuilder.java
  geode-core/src/main/java/org/apache/geode/management/internal/api/GeodeConnectionConfig.java
  geode-management/src/main/java/org/apache/geode/management/api/ConnectionConfig.java
  geode-management/src/main/java/org/apache/geode/management/api/RestTemplateClusterManagementServiceTransport.java
  geode-management/src/main/java/org/apache/geode/management/cluster/client/ClusterManagementServiceBuilder.java
  geode-management/src/main/java/org/apache/geode/management/cluster/client/internal/ClientClusterManagementService.java
  geode-management/src/main/java/org/apache/geode/management/internal/dormant/Dormant.java
  geode-management/src/main/java/org/apache/geode/management/rest/internal/Constants.java
  geode-management/src/main/java/org/apache/geode/management/rest/internal/exception/RestTemplateResponseErrorHandler.java
  geode-management/src/main/java/org/apache/geode/management/service/internal/api/BaseManagementServiceBuilder.java
  geode-management/src/test/java/org/apache/geode/management/client/ClusterManagementServiceBuilderTest.java
  geode-management/src/test/java/org/apache/geode/management/internal/ClientClusterManagementServiceTest.java
  geode-web-management/src/distributedTest/java/org/apache/geode/management/client/ClientClusterManagementServiceDUnitTest.java
  geode-web-management/src/distributedTest/java/org/apache/geode/management/client/ConfigurePDXDUnitTest.java
  geode-web-management/src/distributedTest/java/org/apache/geode/management/client/CreateDiskStoreDUnitTest.java
  geode-web-management/src/distributedTest/java/org/apache/geode/management/client/GetStartingMemberTest.java
  geode-web-management/src/distributedTest/java/org/apache/geode/management/client/MemberManagementServiceDUnitTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/DeployManagementIntegrationTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/DiskStoreManagementIntegrationTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/GatewayManagementIntegrationTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/HateoasIntegrationTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/RebalanceIntegrationTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/RegionManagementIntegrationTest.java
  geode-web-management/src/integrationTest/java/org/apache/geode/management/internal/rest/RestoreRedundancyRequestControllerIntegrationTest.java
  geode-web-management/src/main/java/org/apache/geode/management/internal/rest/controllers/ManagementControllerAdvice.java
Labels: windows

#6432 GEODE-9155: Change frequency of passive expiration (#6419)
  geode-apis-compatible-with-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/GeodeServerRunTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
Labels: backport, redis

#6446 GEODE-9238: Restructure Hash-related DUnit tests to handle cluster mode
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HExistsDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HGetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HKeysDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HMgetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HMsetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HScanDunitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HSetNXDunitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HashesAndCrashesDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HlenDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HsetDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HstrlenDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HvalsDUnitTest.java
Labels: redis

#6456 GEODE-9006: fix flaky native Redis memory usage test
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/server/MemoryStatsNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractRedisMemoryStatsIntegrationTest.java
Labels: redis

#6479 GEODE-9220: Fix failing test on Windows Server 2016
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractKeysIntegrationTest.java
Labels: redis, windows

#6464 GEODE-9221: Remove uses of ByteArrayWrapper from RedisString
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/MemoryOverheadIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractBitPosIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/ByteArrayWrapper.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/CommandHelper.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisString.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisStringCommandsFunctionExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/AppendExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/GetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/GetRangeExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/GetSetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/MGetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/MSetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/MSetNXExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/RedisStringCommands.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/RedisStringCommandsFunctionInvoker.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetEXExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetNXExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetOptions.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisStringTest.java
Labels: redis

#6482 GEODE-9256: Adding a jmh test of the Object2ObjectOpenCustomHashmapWithCursor
  geode-apis-compatible-with-redis/build.gradle
  geode-apis-compatible-with-redis/src/jmh/java/org/apache/geode/redis/internal/collections/Object2ObjectOpenCustomHashmapWithCursorBenchmark.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/collections/Object2ObjectOpenCustomHashMapWithCursor.java
Labels: redis

#6499 GEODE-9283: Convert session related redis DUnit tests to be cluster-aware
  geode-apis-compatible-with-redis/src/acceptanceTest/java/session/NativeRedisSessionAcceptanceTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/session/NativeRedisSessionExpirationAcceptanceTest.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/NativeRedisClusterTestRule.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/session/RedisSessionDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/session/SessionDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/session/SessionsAndCrashesDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/session/springRedisTestApplication/config/WebMvcConfig.java
Labels: redis

#6452 GEODE-9098: Resolve package splitting geode-membership
  geode-assembly/src/integrationTest/java/org/apache/geode/rest/internal/web/RestServersIntegrationTest.java
  geode-core/src/distributedTest/java/org/apache/geode/cache30/ReconnectWithClusterConfigurationDUnitTest.java
  geode-core/src/distributedTest/java/org/apache/geode/distributed/LocatorDUnitTest.java
  geode-core/src/distributedTest/java/org/apache/geode/internal/cache/GridAdvisorDUnitTest.java
  geode-core/src/integrationTest/java/org/apache/geode/distributed/LauncherIntegrationTestCase.java
  geode-core/src/integrationTest/java/org/apache/geode/internal/AvailablePortHelperIntegrationTest.java
  geode-core/src/integrationTest/java/org/apache/geode/internal/AvailablePortJUnitTest.java
  geode-core/src/integrationTest/resources/org/apache/geode/codeAnalysis/excludedClasses.txt
  geode-core/src/main/java/org/apache/geode/distributed/AbstractLauncher.java
  geode-dunit/src/main/java/org/apache/geode/security/ClientAuthorizationTestCase.java
  geode-junit/src/main/java/org/apache/geode/internal/AvailablePortHelper.java
  geode-membership/src/main/java/org/apache/geode/internal/membership/utils/AvailablePort.java
  geode-wan/src/distributedTest/java/org/apache/geode/internal/cache/wan/wancommand/WANCommandUtils.java
  geode-wan/src/main/java/org/apache/geode/cache/wan/internal/GatewayReceiverImpl.java
Labels: windows

#6509 GEODE-9294: Final Pass of 1.14 Docs
  geode-apis-compatible-with-redis/README.md
  geode-apis-compatible-with-redis/gfsh.png
  geode-docs/developing/geode_apis_compatible_with_redis.html.md.erb
  geode-docs/images_svg/geode_apis_compatible_with_redis.svg
Labels: redis

#6487 GEODE-9222: Remove ByteArrayWrapper from RedisSet
  geode-apis-compatible-with-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/RedisDistDUnitTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/MemoryOverheadIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisSet.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSetCommandsFunctionExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/delta/AddsDeltaInfo.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/delta/RemsDeltaInfo.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/RedisSetCommands.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/RedisSetCommandsFunctionInvoker.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SAddExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SCardExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SDiffExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SInterExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SIsMemberExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SMembersExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SMoveExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SPopExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SRandMemberExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SRemExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SScanExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SUnionExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SetExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SetOpExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisSetTest.java
Labels: redis

#6538 GEODE-9252: Improve startup of NativeRedisClusterTestRule
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/NativeRedisClusterTestRule.java
Labels: redis
