Repository apache/geode, pull requests merged in 2021-03, with the labels that each got.

#6072 GEODE-8986: bump benchmark baseline version
  ci/pipelines/shared/jinja.variables.yml
  dev-tools/release/promote_rc.sh
Labels: ci

#5954 GEODE-8864:finish implementation of Redis HScan Command
  geode-redis/src/commonTest/java/org/apache/geode/redis/ConcurrentLoopingThreads.java
  geode-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HScanDunitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHScanIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/HScanIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHash.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHashCommandsFunctionExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/RedisResponse.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/HScanExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/RedisHashCommands.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/hash/RedisHashCommandsFunctionInvoker.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/Client.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
Labels: redis

#6084 GEODE-8859: fix redis-compatability data structure bucket memory-usag…
  geode-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/data/PartitionedRegionStatsUpdateTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisService.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
Labels: redis

#6085 GEODE-8965 Support Redis-style OOM error message
  geode-core/src/main/java/org/apache/geode/internal/cache/control/HeapMemoryMonitor.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/AllowExecutionInLowMemory.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/OutOfMemoryDUnitTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/RedisResponse.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/SingleResultRedisFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
Labels: redis

#6109 GEODE-8859: Fix redis-compatability data structure bucket memory-usag…
  geode-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/data/PartitionedRegionStatsUpdateTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisService.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
Labels: redis

#6111 GEODE-8938: add test helper for command arguments (#6031)
  geode-redis/src/integrationTest/java/org/apache/geode/redis/RedisCommandArgumentsTestHelper.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AbstractEchoIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AbstractPingIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AbstractSelectIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHashesIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/hash/AbstractHincrByFloatIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractDelIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractExistsIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractExpireAtIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractExpireIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractKeysIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractPExpireAtIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractPTTLIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractPersistIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractPexpireIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractRenameIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractTTLIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractTypeIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/AbstractUnlinkIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractTimeIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSDiffIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSInterIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSIsMemberIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSMoveIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSRemIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSUnionIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/set/AbstractSetsIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractBitCountIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractBitOpIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractBitPosIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractDecrByIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractDecrIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractGetBitIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractGetIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractGetRangeIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractGetSetIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrByFloatIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrByIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractMGetIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractPSetEXIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractSetBitIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractSetEXIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractSetRangeIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractStringIntegrationTest.java
Labels: redis

#6115 GEODE-9019: Serialization improvements in geode-redis
  geode-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisService.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/ByteArrayWrapper.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHash.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/SingleResultRedisFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/RenameFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetOptions.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommandFunction.java
  geode-redis/src/main/resources/org/apache/geode/redis/internal/sanctioned-geode-redis-serializables.txt
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisSetTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisStringTest.java
  geode-serialization/src/main/java/org/apache/geode/internal/serialization/DataSerializableFixedID.java
Labels: redis

#6113 GEODE-9021: Remove unnecessary buffer allocation in redis Coder
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/RedisResponse.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
Labels: redis

#6119 GEODE:9009 finish support for functionality compatible with Redis DEC…
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/string/StringsDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractDecrByIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#6117 GEODE-9023: Add sharding support to redis region
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegion.java
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegionDataStore.java
  geode-redis/build.gradle
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/cluster/RedisPartitionResolverDUnitTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/ByteArrayWrapper.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/cluster/CRC16.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/cluster/RedisPartitionResolver.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/RegionProviderJUnitTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/ByteArrayWrapperJUnitTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/executor/cluster/CRC16JUnitTest.java
Labels: redis

#6121 GEODE-9022: Support Info Command
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/server/InfoNativeRedisAcceptanceTest.java
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/server/InfoStatsNativeRedisAcceptanceTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/InfoDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractInfoIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractRedisInfoStatsIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/InfoIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/InfoStatsIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#6148 GEODE-9022: Support Info Command (#6121)
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/server/InfoNativeRedisAcceptanceTest.java
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/server/InfoStatsNativeRedisAcceptanceTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/InfoDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractInfoIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractRedisInfoStatsIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/InfoIntegrationTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/InfoStatsIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#6131 GEODE-9032: support SLOWLOG command
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#6122 GEODE-9019: Serialization improvements in geode-redis (#6115)
  geode-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisService.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/ByteArrayWrapper.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHash.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/CommandFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/SingleResultRedisFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/key/RenameFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetOptions.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommandFunction.java
  geode-redis/src/main/resources/org/apache/geode/redis/internal/sanctioned-geode-redis-serializables.txt
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisSetTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisStringTest.java
  geode-serialization/src/main/java/org/apache/geode/internal/serialization/DataSerializableFixedID.java
Labels: redis

#6140 GEODE-9035: Enable Redis TCL tests for all Hash commands
  geode-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
Labels: redis

#6149 GEODE-9032: support SLOWLOG command (#6131)
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: backport, redis

#6152 GEODE-9046: Refactor null redis structures to separate classes
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/CommandHelper.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisDataStructures.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisHash.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSetCommandsFunctionExecutor.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisStringCommandsFunctionExecutor.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/data/RedisSetTest.java
Labels: redis

#6155 GEODE-9037: Do not expose unsupported commands in Geode compatibility with Redis
  ci/scripts/execute_redis_tests.sh
  geode-redis/src/commonTest/java/org/apache/geode/redis/GeodeRedisServerRule.java
  geode-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/GeodeRedisServerStartupDUnitTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/CrashAndNoRepeatDUnitTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HashesAndCrashesDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/common/UnsupportedCommandsIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandSupportLevel.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/Command.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/statistics/GeodeRedisStats.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#6150 GEODE-9045: rename redis properties and reword error messages
  ci/scripts/execute_redis_tests.sh
  geode-book/master_middleman/source/subnavs/geode-subnav.erb
  geode-core/src/main/java/org/apache/geode/distributed/ConfigurationProperties.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/AbstractDistributionConfig.java
  geode-core/src/test/resources/org/apache/geode/management/internal/cli/commands/golden-help-offline.properties
  geode-docs/images/geode_apis_compatible_with_redis.png
  geode-docs/reference/topics/gemfire_properties.html.md.erb
  geode-docs/tools_modules/book_intro.html.md.erb
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/StartServerCommand.java
  geode-gfsh/src/test/java/org/apache/geode/management/internal/cli/util/HyphenFormatterTest.java
  geode-redis/README.md
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/GeodeRedisServerStartUpAcceptanceTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/GeodeRedisServerStartupDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/SSLTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommand.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommandFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/NettyRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/statistics/GeodeRedisStats.java
  geode-redis/src/performanceTest/environment-setup.sh
Labels: redis

#6160 GEODE-9001: Update Documents to be match recent code changes in compatible-with-redis commands
  geode-docs/tools_modules/redis_api_for_geode.html.md.erb
  geode-redis/README.md
Labels: redis

#6209 GEODE-9045: customer facing references to Redis (#6150)
  ci/scripts/execute_redis_tests.sh
  geode-book/master_middleman/source/subnavs/geode-subnav.erb
  geode-core/src/main/java/org/apache/geode/distributed/ConfigurationProperties.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/AbstractDistributionConfig.java
  geode-core/src/test/resources/org/apache/geode/management/internal/cli/commands/golden-help-offline.properties
  geode-docs/images/geode_apis_compatible_with_redis.png
  geode-docs/reference/topics/gemfire_properties.html.md.erb
  geode-docs/tools_modules/book_intro.html.md.erb
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/StartServerCommand.java
  geode-gfsh/src/test/java/org/apache/geode/management/internal/cli/util/HyphenFormatterTest.java
  geode-redis/README.md
  geode-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/GeodeRedisServerStartUpAcceptanceTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/GeodeRedisServerStartupDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/SSLTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommand.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommandFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/NettyRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/statistics/GeodeRedisStats.java
  geode-redis/src/performanceTest/environment-setup.sh
Labels: backport, redis

#6212 GEODE-9069: increase timeouts for HExistsDUnitTest
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HExistsDUnitTest.java
Labels: redis

#6214 GEODE-9086: update docs to show support for DECRBY
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
  geode-redis/README.md
Labels: redis

#6228 GEODE-9086 backport
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
  geode-redis/README.md
Labels: redis
