Repository apache/geode, pull requests merged in 2021-04, with the labels that each got.

#6213 GEODE-8965: Support Redis-style OOM error message (#6085)
  geode-core/src/main/java/org/apache/geode/internal/cache/control/HeapMemoryMonitor.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/AllowExecutionInLowMemory.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/OutOfMemoryDUnitTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/RedisResponse.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/executor/SingleResultRedisFunction.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
Labels: backport, redis

#6258 GEODE-9119: Move file missed during module renaming
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/common/UnsupportedCommandsIntegrationTest.java
Labels: redis

#6244 GEODE-9037: Remove unimplemented commands
  ci/scripts/execute_redis_tests.sh
  geode-redis/src/commonTest/java/org/apache/geode/redis/GeodeRedisServerRule.java
  geode-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/GeodeRedisServerStartupDUnitTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/CrashAndNoRepeatDUnitTest.java
  geode-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HashesAndCrashesDUnitTest.java
  geode-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/common/UnsupportedCommandsIntegrationTest.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandSupportLevel.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/Command.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-redis/src/main/java/org/apache/geode/redis/internal/statistics/GeodeRedisStats.java
  geode-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: redis

#6243 GEODE-9035: Enable Redis TCL tests for all Hash commands
  geode-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
Labels: redis

#6265 GEODE-9115: Do not have lettuce redis client autoreconnect
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractLettucePubSubIntegrationTest.java
Labels: redis

#6271 GEODE-9084: Removed the redis gfsh command.
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommand.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/gfsh/RedisCommandFunction.java
  geode-apis-compatible-with-redis/src/main/resources/META-INF/services/org.springframework.shell.core.CommandMarker
  geode-apis-compatible-with-redis/src/main/resources/org/apache/geode/redis/internal/sanctioned-geode-apis-compatible-with-redis-serializables.txt
Labels: redis

#6235 GEODE-9087: redis docs for HSCAN command
  geode-apis-compatible-with-redis/README.md
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
Labels: redis

#6281 GEODE-9087: redis docs for HSCAN command (#6235)
  geode-apis-compatible-with-redis/README.md
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
Labels: backport, redis

#6239 GEODE-9068: Update documents to show removal of unsupported commands category
  geode-apis-compatible-with-redis/README.md
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
  geode-docs/images/geode_apis_compatible_with_redis.png
  geode-docs/images_svg/geode_apis_compatible_with_redis.svg
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
Labels: redis

#6303 GEODE-9113-extend wait period for hscanSnaphots_shouldExpireAfterExpiryPeriod
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
Labels: redis

#6329 GEODE-8932: Support Redis SETNX command (#6016)
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractSetNXIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: backport, redis

#6330 GEODE-8931: Support Redis GETRANGE command (#6015)
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractGetRangeIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: backport, redis

#6332 backport GEODE-8934
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrByIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractStringIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: backport, redis

#6346 GEODE-9172: Add Junit rule to start docker-based redis cluster
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/NativeRedisClusterTest.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/ClusterNodesResponseProcessor.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/ClusterSlotsResponseProcessor.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/HostPort.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/MovedResponseHandler.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/NoopRedisResponseProcessor.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/RedisProxy.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/RedisProxyInboundHandler.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/RedisProxyOutboundHandler.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/internal/proxy/RedisResponseProcessor.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/ClusterNode.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/NativeRedisClusterTestRule.java
  geode-apis-compatible-with-redis/src/commonTest/resources/redis-cluster-compose.yml
Labels: redis

#6331 GEODE-8936 backport
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/string/AbstractIncrIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
Labels: backport, redis

#6354 backport GEODE-9113 (extend hscan expiration period)
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/data/RedisHashTest.java
Labels: redis

#6325 GEODE-9155: change frequency of passive expiration
  geode-apis-compatible-with-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/GeodeServerRunTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
Labels: redis

#6374 GEODE-9163: Mark docs for apis compatible with Redis as experimental
  geode-apis-compatible-with-redis/README.md
  geode-book/master_middleman/source/subnavs/geode-subnav.erb
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
Labels: redis

#6359 GEODE-9158: Add CLUSTER NODES, SLOTS and INFO commands
  geode-apis-compatible-with-redis/build.gradle
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/NativeRedisClusterTest.java
  geode-apis-compatible-with-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/cluster/ClusterNativeRedisAcceptanceTest.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/ClusterNode.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/ClusterNodes.java
  geode-apis-compatible-with-redis/src/commonTest/java/org/apache/geode/redis/NativeRedisClusterTestRule.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/cluster/ClusterSlotsAndNodesDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/cluster/JedisAndLettuceClusterDUnitTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/cluster/AbstractClusterIntegrationTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/cluster/ClusterIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/ParameterRequirements/ClusterParameterRequirements.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/cluster/BucketInfoRetrievalFunction.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/executor/cluster/ClusterExecutor.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/netty/NettyRedisServer.java
  geode-apis-compatible-with-redis/src/main/resources/org/apache/geode/redis/internal/sanctioned-geode-apis-compatible-with-redis-serializables.txt
  geode-apis-compatible-with-redis/src/test/java/org/apache/geode/redis/internal/SupportedCommandsJUnitTest.java
  geode-apis-compatible-with-redis/src/test/resources/expected-pom.xml
Labels: redis

#6216 GEODE-9092 - Resolve package splitting geode-common
  geode-common/src/jmh/java/org/apache/geode/internal/lang/ComputeIfAbsentBenchmark.java
  geode-common/src/main/java/org/apache/geode/internal/inet/LocalHostUtil.java
  geode-common/src/main/java/org/apache/geode/internal/lang/utils/JavaWorkarounds.java
  geode-common/src/main/java/org/apache/geode/internal/utils/Retry.java
  geode-common/src/test/java/org/apache/geode/internal/utils/RetryTest.java
  geode-connectors/src/main/java/org/apache/geode/connectors/jdbc/internal/TableMetaDataManager.java
  geode-core/src/main/java/org/apache/geode/cache/query/internal/AttributeDescriptor.java
  geode-core/src/main/java/org/apache/geode/internal/cache/backup/BackupDefinition.java
  geode-core/src/main/java/org/apache/geode/internal/cache/execute/metrics/FunctionStatsManager.java
  geode-core/src/main/java/org/apache/geode/internal/cache/tier/sockets/ClientHealthMonitor.java
  geode-core/src/main/java/org/apache/geode/internal/tcp/ConnectionTable.java
  geode-cq/src/main/java/org/apache/geode/cache/query/cq/internal/CqServiceImpl.java
  geode-lucene/src/main/java/org/apache/geode/cache/lucene/FlatFormatSerializer.java
  geode-membership/src/main/java/org/apache/geode/distributed/internal/membership/gms/fd/GMSHealthMonitor.java
  geode-membership/src/main/java/org/apache/geode/distributed/internal/membership/gms/messenger/GMSEncrypt.java
Labels: windows

#6389 GEODE-9163: Mark docs for apis compatible with Redis as experimental
  geode-apis-compatible-with-redis/README.md
  geode-book/master_middleman/source/subnavs/geode-subnav.erb
  geode-docs/tools_modules/geode_apis_compatible_with_redis.html.md.erb
Labels: redis

#6398 Revert "GEODE-9155: change frequency of passive expiration (#6325)"
  geode-apis-compatible-with-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/GeodeServerRunTest.java
  geode-apis-compatible-with-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-apis-compatible-with-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
Labels: redis

#6403 GEODE-9069: Increasing the timeout in HGetDUnitTest
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HGetDUnitTest.java
Labels: redis

#6399 GEODE-9069: Increase timeouts for HExistsDUnitTest and HGetDUnitTest …
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HExistsDUnitTest.java
  geode-apis-compatible-with-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/hash/HGetDUnitTest.java
Labels: redis

#6382 GEODE-9104: Removed ESCAPE_NON_ASCII so non-ASCII characters are disp…
  geode-web-api/src/integrationTest/java/org/apache/geode/rest/internal/web/controllers/RestAccessControllerTest.java
  geode-web-api/src/integrationTest/resources/org/apache/geode/rest/internal/web/controllers/customer-containing-non-ascii-query-full-result.json
  geode-web-api/src/integrationTest/resources/org/apache/geode/rest/internal/web/controllers/customer-containing-non-ascii-query-struct-result.json
  geode-web-api/src/integrationTest/resources/org/apache/geode/rest/internal/web/controllers/customer-containing-non-ascii.json
  geode-web-api/src/main/java/org/apache/geode/rest/internal/web/util/JSONUtils.java
Labels: windows
