Repository apache/geode, pull requests merged in 2021-11, with the labels that each got.

#7058 GEODE-9756: added geode-for-redis-replica-count gemfire property
  geode-core/src/main/java/org/apache/geode/distributed/ConfigurationProperties.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/AbstractDistributionConfig.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/DistributionConfig.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/DistributionConfigImpl.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/LonerDistributionManager.java
  geode-core/src/test/java/org/apache/geode/distributed/internal/DistributionConfigJUnitTest.java
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/GeodeRedisServerStartupDUnitTest.java
  geode-for-redis/src/commonTest/java/org/apache/geode/redis/GeodeRedisServerRule.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
Labels: redis

#7070 GEODE-9756: add "geode-for-redis-redundant-copies" gemfire property
  geode-core/src/main/java/org/apache/geode/distributed/ConfigurationProperties.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/AbstractDistributionConfig.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/DistributionConfig.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/DistributionConfigImpl.java
  geode-core/src/main/java/org/apache/geode/distributed/internal/LonerDistributionManager.java
  geode-core/src/test/java/org/apache/geode/distributed/internal/DistributionConfigJUnitTest.java
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/GeodeRedisServerStartupDUnitTest.java
  geode-for-redis/src/commonTest/java/org/apache/geode/redis/GeodeRedisServerRule.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
Labels: redis

#7066 GEODE-9791: Update Mockito dependency to 4.0.0
  boms/geode-all-bom/src/test/resources/expected-pom.xml
  buildSrc/src/main/groovy/org/apache/geode/gradle/plugins/DependencyConstraints.groovy
  geode-core/src/integrationTest/java/org/apache/geode/distributed/internal/membership/MembershipJUnitTest.java
  geode-core/src/test/java/org/apache/geode/cache/client/internal/AbstractOpTest.java
  geode-core/src/test/java/org/apache/geode/cache/query/internal/CompiledInJUnitTest.java
  geode-core/src/test/java/org/apache/geode/cache/query/internal/index/HashIndexSetJUnitTest.java
  geode-core/src/test/java/org/apache/geode/cache/query/internal/index/MemoryIndexStoreJUnitTest.java
  geode-core/src/test/java/org/apache/geode/distributed/internal/DistributionConfigJUnitTest.java
  geode-core/src/test/java/org/apache/geode/internal/ObjIdConcurrentMapTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/AbstractDiskRegionTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/AbstractDistributedRegionJUnitTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/BucketRegionJUnitTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/CacheOperationMessageTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/DestroyMessageTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/DistributedRegionFunctionStreamingMessageTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/DistributedRegionJUnitTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/DistributedRegionTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/NonLocalRegionEntryTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/TXStateStubTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/control/ResourceAdvisorTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/partitioned/rebalance/BucketOperatorWrapperTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/MessageIdExtractorTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/ContainsKey66Test.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/DestroyRegionTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/GetAll70Test.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/GetAllWithCallbackTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/GetClientPartitionAttributesCommand66Test.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/Invalidate70Test.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/KeySetTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/RemoveAllTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tier/sockets/command/UnregisterInterestTest.java
  geode-core/src/test/java/org/apache/geode/internal/cache/tx/RemoteFetchEntryMessageTest.java
  geode-core/src/test/java/org/apache/geode/internal/statistics/CallbackSamplerTest.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/LuceneQueryImplJUnitTest.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/PageableLuceneQueryResultsImplJUnitTest.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/RawLuceneRepositoryManagerJUnitTest.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/partition/BucketTargetingMapTest.java
  geode-lucene/src/test/java/org/apache/geode/cache/lucene/internal/results/LuceneGetPageFunctionJUnitTest.java
  geode-membership/src/integrationTest/java/org/apache/geode/distributed/internal/membership/gms/GMSMembershipJUnitTest.java
  geode-membership/src/integrationTest/java/org/apache/geode/distributed/internal/membership/gms/fd/GMSHealthMonitorJUnitTest.java
  geode-membership/src/integrationTest/java/org/apache/geode/distributed/internal/membership/gms/membership/GMSJoinLeaveJUnitTest.java
  geode-membership/src/integrationTest/java/org/apache/geode/distributed/internal/membership/gms/messenger/GMSQuorumCheckerJUnitTest.java
  geode-membership/src/integrationTest/java/org/apache/geode/distributed/internal/membership/gms/messenger/StatRecorderJUnitTest.java
Labels: windows, jdk8

#7072 GEODE-9794: Radish PassiveExpirationManager can throw NPE
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/PassiveExpirationManager.java
Labels: redis

#7078 GEODE-9786: Make IndexibleTreeSet inner class of quick check test
  geode-for-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/excludedClasses.txt
  geode-for-redis/src/jmh/java/org/apache/geode/redis/internal/collections/OrderedStatisticTreeBenchmark.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/collections/IndexibleTreeSet.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/collections/OrderedStatisticTreeQuickCheckTest.java
Labels: redis

#7080 GEODE-9781: clean up radish sys props
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisProperties.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RegionProvider.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/ByteToCommandDecoder.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/RedisPropertiesTest.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/RegionProviderJUnitTest.java
Labels: redis

#7094 GEODE-9805: Do not log arguments of Radish AUTH command
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AuthIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/Command.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/netty/CommandJUnitTest.java
Labels: redis

#7102 GEODE-9566: change geode-for-redis to not be experimental
  geode-for-redis/README.md
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/StartServerCommand.java
Labels: redis

#7100 GEODE-9769: add pubsub stats to INFO
  geode-for-redis/README.md
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/AbstractPubSubIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/pubsub/PubSubIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/AbstractInfoIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/server/InfoExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/statistics/RedisStats.java
Labels: redis

#7118 GEODE-9449: Remove 'b' prefix from constants
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/key/DumpRestoreIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisData.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSortedSet.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/cluster/ClusterExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/PingExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/key/AbstractScanExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/key/RestoreExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/key/ScanExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/PsubscribeExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/PubSubExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/pubsub/SubscribeExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/server/InfoExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/server/LolWutExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/server/SlowlogExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/set/SScanExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/sortedset/AbstractSortedSetRangeOptions.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/sortedset/SortedSetLexRangeOptions.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/sortedset/ZAddExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/sortedset/ZStoreExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/string/SetExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/ByteToCommandDecoder.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/StringBytesGlossary.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/parameters/SlowlogParameterRequirements.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/pubsub/Publisher.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/pubsub/Subscriptions.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/data/RedisSortedSetTest.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/netty/CoderTest.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/pubsub/SubscriptionsJUnitTest.java
Labels: redis

#7125 GEODE-9821: Remove use of local docker-compose from Radish native tests
  geode-for-redis/src/commonTest/java/org/apache/geode/redis/NativeRedisClusterTestRule.java
Labels: redis

#7123 GEODE-9816: Added CLIENT SETNAME and GETNAME commands.
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/executor/connection/ClientNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AbstractClientIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/ClientIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/ClientExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/Client.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/StringBytesGlossary.java
Labels: redis

#7115 GEODE-9812: Add Radish tests that kills multiple servers
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/string/StringsKillMultipleServersDUnitTest.java
Labels: redis

#7134 GEODE-9727: Updated COMMAND error message
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/server/CommandIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/server/COMMANDCommandExecutor.java
Labels: redis

#7128 GEOGE-9823: CLUSTER & CLIENT error messages list supported subcommands.
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/cluster/AbstractClusterIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/cluster/ClusterIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/AbstractClientIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/executor/connection/ClientIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/cluster/ClusterExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/executor/connection/ClientExecutor.java
Labels: redis

#7133 GEODE-9638: Make test compiler not use files
  geode-connectors/src/distributedTest/java/org/apache/geode/connectors/jdbc/internal/cli/CreateMappingCommandDUnitTest.java
  geode-junit/src/integrationTest/java/org/apache/geode/test/compiler/JavaCompilerTest.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/CompilationReporter.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/InMemoryClassFile.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/InMemoryFileManager.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/InMemoryJavaCompiler.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/InMemorySourceFile.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/JarBuilder.java
  geode-junit/src/main/java/org/apache/geode/test/compiler/JavaCompiler.java
  geode-junit/src/test/java/org/apache/geode/test/compiler/InMemoryJavaCompilerTest.java
  geode-junit/src/test/java/org/apache/geode/test/compiler/InMemorySourceFileTest.java
Labels: windows

#7127 GEODE-9669: Improve reporting of Radish mem_fragmentation_ratio
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractRedisInfoStatsIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/string/AbstractAppendMemoryIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/server/InfoExecutor.java
Labels: redis

#7146 GEODE-9855: Radish authentication during HA test
  geode-dunit/src/main/java/org/apache/geode/test/dunit/rules/SerializableFunction.java
  geode-for-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/executor/auth/AuthWhileServersRestartDUnitTest.java
Labels: redis

#7154 GEODE-9863: Point redis benchmarks at geode-for-redis-benchmark-baseline branch
  ci/pipelines/shared/jinja.variables.yml
Labels: redis
