Repository apache/geode, pull requests merged in 2022-01, with the labels that each got.

#7233 GEODE-9692: Enable tests in HashesAndCrashesDUnitTest
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/commands/executor/hash/HashesAndCrashesDUnitTest.java
Labels: redis

#7239 GEODE-9691: Fix flaky ZRemDUnitTest
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/commands/executor/sortedset/ZRemDUnitTest.java
Labels: redis

#7244 GEODE-9932: Change naming convention for Redish hash tags in tests
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/data/PartitionedRegionStatsUpdateTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractDelIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractExistsIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractExpireIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractPexpireIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractRenameIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractRenameNXIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractScanIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractUnlinkIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/ScanIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSCardIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSDiffIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSDiffStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSInterIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSIsMemberIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSMoveIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSUnionIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/sortedset/AbstractZInterStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/sortedset/AbstractZUnionStoreIntegrationTest.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/data/KeyHashUtilTest.java
Labels: redis

#7250 GEODE-8980: bump dependencies
  boms/geode-all-bom/src/test/resources/expected-pom.xml
  buildSrc/build.gradle
  buildSrc/src/main/groovy/org/apache/geode/gradle/plugins/DependencyConstraints.groovy
  dev-tools/dependencies/bump.sh
  extensions/geode-modules-assembly/release/session/bin/modify_war
  geode-assembly/geode-assembly-test/src/main/java/org/apache/geode/session/tests/TomcatInstall.java
  geode-assembly/src/distributedTest/java/org/apache/geode/session/tests/GenericAppServerInstall.java
  geode-assembly/src/integrationTest/resources/assembly_content.txt
  geode-assembly/src/integrationTest/resources/expected_jars.txt
  geode-assembly/src/integrationTest/resources/gfsh_dependency_classpath.txt
  geode-assembly/src/main/dist/LICENSE
  geode-common/src/main/java/org/apache/geode/util/internal/GeodeJsonMapper.java
  geode-core/src/integrationTest/resources/org/apache/geode/internal/logging/dir1/systemlog.txt
  geode-core/src/integrationTest/resources/org/apache/geode/internal/logging/dir2/systemlog.txt
  geode-docs/tools_modules/http_session_mgmt/quick_start.html.md.erb
  geode-docs/tools_modules/http_session_mgmt/tomcat_installing_the_module.html.md.erb
  geode-docs/tools_modules/http_session_mgmt/tomcat_setting_up_the_module.html.md.erb
  geode-server-all/src/integrationTest/resources/dependency_classpath.txt
Labels: windows, jdk8

#7227 feature/GEODE-9832: SMOVE Command Support
  geode-docs/tools_modules/geode_for_redis.html.md.erb
  geode-for-redis/README.md
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSMoveIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/set/SMoveExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
Labels: redis

#7205 GEODE-9869: Remove geode-for-redis properties from gfsh options
  ci/scripts/execute_redis_tests.sh
  geode-core/src/main/java/org/apache/geode/management/internal/i18n/CliStrings.java
  geode-core/src/test/resources/org/apache/geode/management/internal/cli/commands/golden-help-offline.properties
  geode-docs/reference/topics/gemfire_properties.html.md.erb
  geode-docs/tools_modules/geode_for_redis.html.md.erb
  geode-for-redis/README.md
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/GeodeRedisServerStartupUsingGfshAcceptanceTest.java
  geode-for-redis/src/performanceTest/environment-setup.sh
  geode-gfsh/src/main/java/org/apache/geode/management/internal/cli/commands/StartServerCommand.java
  geode-gfsh/src/test/java/org/apache/geode/management/internal/cli/util/HyphenFormatterTest.java
Labels: redis

#7249 GEODE-9934: Move Redis MemoryOverheadIntegration test classes
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/data/MemoryOverheadNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/data/AbstractMemoryOverheadIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/data/MemoryOverheadIntegrationTest.java
Labels: redis

#7257 GEODE-9936: Modified multi-key commands for wrong type key
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSDiffIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSDiffStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSInterIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/sortedset/AbstractZInterStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/sortedset/AbstractZUnionStoreIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSortedSet.java
Labels: redis

#7273 GEODE-9962: Update redis INFO command for cluster mode responses
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/server/InfoNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractInfoIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/InfoIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/server/InfoExecutor.java
Labels: redis

#7283 GEODE-9977: Remove defunct RedisCommandSupportLevel.INTERNAL type
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandSupportLevel.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/server/COMMANDCommandExecutor.java
Labels: redis

#7284 GEODE-9837: SUNIONSTORE Command Support
  geode-docs/tools_modules/geode_for_redis.html.md.erb
  geode-for-redis/README.md
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/set/SUnionStoreNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSUnionIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSUnionStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/SUnionStoreIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/set/SetOpExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
Labels: redis

#7288 GEODE-9979: update redis svg to use new module name
  geode-docs/images_svg/geode_for_redis.svg
Labels: redis

#7295 GEODE-9922: Move Redis cross-slot checking to RegionProvider
  geode-for-redis/src/acceptanceTest/resources/0001-configure-redis-tests.patch
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractRenameIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractRenameNXIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSDiffIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSDiffStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSInterIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSMoveIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSUnionIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/set/AbstractSUnionStoreIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/string/AbstractMSetIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/string/AbstractMSetNXIntegrationTest.java
  geode-for-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/excludedClasses.txt
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/key/AbstractRenameExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/set/SMoveExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/set/SetOpExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/sortedset/ZInterStoreExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/sortedset/ZStoreExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/sortedset/ZUnionStoreExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/string/AbstractMSetExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisCrossSlotException.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/services/RegionProvider.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/services/RegionProviderTest.java
Labels: redis

#7297 GEODE-9958: Add gfsh-specific tests for Radish startup
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/GeodeRedisServerStartupAcceptanceTest.java
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/GeodeRedisServerStartupUsingGfshAcceptanceTest.java
Labels: redis

#7301 GEODE-8616: Refactoring the test to remove deprecated APIs
  geode-core/src/distributedTest/java/org/apache/geode/cache30/ClientServerCacheOperationDUnitTest.java
Labels: windows

#7274 GEODE-9883 Update Geode for Redis docs file
  geode-book/master_middleman/source/subnavs/geode-subnav.erb
  geode-docs/tools_modules/geode_for_redis.html.md.erb
Labels: redis

#7329 GEODE-9995: Use ephemeral ports to avoid flaky port in use issues
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/GeodeRedisServerStartupUsingGfshAcceptanceTest.java
Labels: redis
