Repository apache/geode, pull requests merged in 2022-03, with the labels that each got.

#7358 GEODE-10010: Sample Redis ops per second during operations in test
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/server/InfoStatsNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractInfoStatsIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/InfoStatsIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/statistics/RedisStats.java
Labels: redis

#7151 GEODE-10075 Fix jacoco code coverage reports
  buildSrc/src/main/java/org/apache/geode/gradle/testing/isolation/WorkingDirectoryIsolator.java
  buildSrc/src/test/java/org/apache/geode/gradle/testing/isolation/WorkingDirectoryIsolatorTest.java
  gradle/code-analysis.gradle
Labels: windows

#7389 GEODE-9950: Add LRANGE command
  geode-docs/tools_modules/geode_for_redis.html.md.erb
  geode-for-redis/README.md
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/list/LRangeNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/AbstractLRangeIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/LRangeIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/list/LRangeExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisList.java
Labels: redis

#7429 GEODE-10108: Add version field to AbstractRedisData and deltas
  geode-for-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RedisClusterStartupRule.java
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/commands/executor/string/StringsDUnitTest.java
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/data/DeltaDUnitTest.java
  geode-for-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/sanctionedDataSerializables.txt
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisString.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/AddByteArrayDoublePairs.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/AddByteArrayPairs.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/AddByteArrays.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/AppendByteArray.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/DeltaInfo.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/DeltaType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/RemoveByteArrays.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/RemoveElementsByIndex.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/ReplaceByteArrayAtOffset.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/ReplaceByteArrayDoublePairs.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/ReplaceByteArrays.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/ReplaceByteAtOffset.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/SetByteArray.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/SetByteArrayAndTimestamp.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/SetTimestamp.java
  geode-for-redis/src/main/resources/org/apache/geode/redis/internal/services/sanctioned-geode-for-redis-serializables.txt
Labels: redis

#7437 GEODE-10010: Refine per-second Redis stats
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/server/InfoStatsNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractInfoStatsIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/InfoStatsIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/statistics/RedisStats.java
Labels: redis, windows

#7451 GEODE-10128: Open/export packages for JDK 17
  gradle/test.gradle
Labels: windows

#7396 GEODE-9952: Support LSET Command
  geode-docs/tools_modules/geode_for_redis.html.md.erb
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/list/LSetNativeRedisAcceptanceTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/AbstractLSetIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/LSetIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/list/LSetExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisList.java
Labels: redis

#7459 GEODE-10138: Add Versioning Support for LPUSH
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisSet.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/AddByteArrays.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/DeltaType.java
Labels: redis

#7457 GEODE-10129: Forward opens/exports to child JVMs
  geode-assembly/geode-assembly-test/src/main/java/org/apache/geode/session/tests/ServerContainer.java
  geode-core/src/distributedTest/java/org/apache/geode/distributed/ServerLauncherDUnitTest.java
  geode-dunit/src/main/java/org/apache/geode/test/dunit/internal/ProcessManager.java
  geode-dunit/src/main/java/org/apache/geode/test/junit/rules/GfshCommandRule.java
  geode-junit/src/main/java/org/apache/geode/test/process/JavaModuleHelper.java
  geode-junit/src/test/java/org/apache/geode/test/process/JavaModuleHelperTest.java
  gradle/test.gradle
Labels: windows, jdk8, jdk17

#7408 GEODE-10048: Add framework for Redis events and BLPOP command
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/list/BLPopNativeRedisAcceptanceTest.java
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/commands/executor/list/BLPopDUnitTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/AbstractBLPopIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/BLPopIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/eventing/BlockingCommandListenerTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/eventing/EventDistributorTest.java
  geode-for-redis/src/integrationTest/resources/org/apache/geode/codeAnalysis/excludedClasses.txt
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/GeodeRedisServer.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/RedisConstants.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/Command.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/RedisResponse.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/list/BLPopExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/list/LPushExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/list/RPushExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/eventing/BlockingCommandListener.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/eventing/EventDistributor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/eventing/EventListener.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/eventing/EventResponse.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/Client.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/Coder.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContext.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/NettyRedisServer.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/netty/StringBytesGlossary.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/services/RegionProvider.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/netty/ExecutionHandlerContextTest.java
Labels: redis

#7477 GEODE-10108: Remove extra enum written in ReplaceByteArrayAtOffset
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/ReplaceByteArrayAtOffset.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/data/DeltaClassesJUnitTest.java
Labels: redis

#7480 GEODE-10134: Add JDK 17 proxy classes to serialization accept list
  geode-serialization/src/main/java/org/apache/geode/internal/serialization/filter/SanctionedSerializablesFilterPattern.java
Labels: windows, jdk17

#7431 GEODE-9946: Add Radish LREM command
  geode-docs/tools_modules/geode_for_redis.html.md.erb
  geode-for-redis/README.md
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/list/LRemNativeRedisAcceptanceTest.java
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/internal/commands/executor/list/LRemDUnitTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/AbstractLRemIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/list/LRemIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/server/AbstractHitsMissesIntegrationTest.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/RedisCommandType.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/commands/executor/list/LRemExecutor.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/AbstractRedisData.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/NullRedisList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/collections/SizeableByteArrayList.java
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/delta/RemoveElementsByIndex.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/data/RedisListTest.java
  geode-for-redis/src/test/java/org/apache/geode/redis/internal/data/collections/SizeableByteArrayListTest.java
Labels: redis

#7320 GEODE-9969: Fix unescaping the region name with underscore
  geode-assembly/src/acceptanceTest/java/org/apache/geode/cache/persistence/MissingDiskStoreAfterServerRestartAcceptanceTest.java
  geode-core/src/main/java/org/apache/geode/internal/cache/PartitionedRegionHelper.java
  geode-core/src/test/java/org/apache/geode/internal/cache/PartitionedRegionHelperJUnitTest.java
Labels: windows

#7484 GEODE-10133: change sizeof to handle UnsupportedOperationException
  geode-core/src/main/java/org/apache/geode/internal/size/ReflectionSingleObjectSizer.java
  geode-core/src/test/java/org/apache/geode/internal/size/ReflectionObjectSizerJUnitTest.java
  geode-core/src/test/java/org/apache/geode/internal/size/ReflectionSingleObjectSizerTest.java
Labels: jdk17

#7481 GEODE-10140: Opens/exports for QueryResultFormatter tests
  gradle/test.gradle
Labels: windows, jdk17

#7475 GEODE-10119: Handle SSLHandshakeException on JDK17
  geode-core/src/main/java/org/apache/geode/cache/client/internal/ConnectionFactoryImpl.java
  geode-core/src/main/java/org/apache/geode/internal/net/SocketCreator.java
Labels: windows, jdk8, jdk17

#7511 GEODE-10190: Improve runtime of MSetIntegrationTest and RenameIntegrationTest
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/key/AbstractRenameIntegrationTest.java
  geode-for-redis/src/integrationTest/java/org/apache/geode/redis/internal/commands/executor/string/AbstractMSetIntegrationTest.java
Labels: redis

#7494 GEODE-10151: Making geode-for-redis optional for a geode server
  boms/geode-all-bom/src/test/resources/expected-pom.xml
  ci/scripts/execute_redis_tests.sh
  geode-assembly/build.gradle
  geode-assembly/src/integrationTest/resources/assembly_content.txt
  geode-assembly/src/integrationTest/resources/expected_jars.txt
  geode-assembly/src/integrationTest/resources/gfsh_dependency_classpath.txt
  geode-for-redis/build.gradle
  geode-for-redis/src/acceptanceTest/java/org/apache/geode/redis/internal/commands/executor/GeodeRedisServerStartupUsingGfshAcceptanceTest.java
  geode-for-redis/src/commonTest/java/org/apache/geode/test/dunit/rules/RequiresRedisHome.java
  geode-for-redis/src/distributedTest/java/org/apache/geode/redis/OutOfMemoryDUnitTest.java
  geode-for-redis/src/test/resources/expected-pom.xml
  geode-server-all/build.gradle
  geode-server-all/src/integrationTest/resources/dependency_classpath.txt
  geode-server-all/src/test/resources/expected-pom.xml
Labels: redis

#7505 GEODE-10136: Make Function.getId() handle null canonical name
  geode-core/src/main/java/org/apache/geode/cache/execute/Function.java
  geode-core/src/test/java/org/apache/geode/cache/execute/FunctionTest.java
Labels: windows, jdk8, jdk17

#7527 GEODE-10171: Update versioning for no-op operations
  geode-for-redis/src/main/java/org/apache/geode/redis/internal/data/RedisList.java
Labels: redis
